@import "../../assets/styles/variables";

.input-wrapper {
  position: relative;
  width: 100%;

  .input-wrapper__input {
    width: 100%;
    height: calc($largeSize * 2);
    border: 1px solid #e6eaf0;
    border-radius: $mediumSize;
    font-size: $fontSize;
    color: $mainFontColor;
    transition: 200ms ease-in-out;
    padding: $mediumSize 16px 14px;

    &:hover {
      border: 1px solid #3eaeff;
      transition: 200ms ease-in-out;
    }

    &:focus-visible {
      outline: none;
      border: 1px solid #3eaeff;
      box-shadow: 0 0 10px rgba(62, 174, 255, 0.2);
      transition: 200ms ease-in-out;
    }
  }

  .input-wrapper__clear-icon {
    position: absolute;
    top: $mediumSize;
    right: $mediumSize;
  }
}
