@import "../../assets/styles/variables.scss";

.home-wrapper {
  .home-wrapper__search {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: calc($largeSize * 4);
    padding-top: $largeSize;
    padding-left: $largeSize;
    padding-right: $largeSize;

    .divider {
      margin-top: $largeSize;
    }
  }

  .home-wrapper__users-list {
    width: 100%;
    padding-top: calc($largeSize + 24px);
    margin-top: calc($largeSize + 24px);
  }
}
