@import "../../assets/styles/variables.scss";

.settings-wrapper {
  .settings-wrapper__header {
    justify-content: space-between;

    .settings-wrapper__header--back {
      svg {
        width: calc($mediumSize * 2);
        height: calc($mediumSize * 2);
        cursor: pointer;
        transition: 300ms;
      }
    }
  }

  .settings-wrapper__content {
  }
}
