$smallSize: 7px;
$mediumSize: 12px;
$largeSize: 24px;

$fontFamily: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
