@import "../../assets/styles/variables";

.select-container {
  position: relative;

  .select-container__menu-trigger {
    width: 250px;
    background: #ffffff;
    cursor: pointer;
    justify-content: space-between;
    padding: 16px 20px;
    border: 1px solid #e6eaf0;
    transition: box-shadow 300ms ease;
    color: $mainFontColor;

    &:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }

    span {
      font-size: 14px;
    }
  }

  .select-container__dropdown {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 60px;
    width: 250px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 200ms ease, transform 300ms ease, visibility 200ms;

    &.show-select-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      border-bottom: 1px solid #dddddd;
    }

    div {
      text-decoration: none;
      color: $mainFontColor;
      padding: 16px 20px;
      cursor: pointer;
      transition: 300ms;
      font-size: 14px;

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}
